---
list_title: News Archive
layout: default
---

<h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>

<!-- This loops through the paginated posts -->
<ul class="post-list">
    {% for post in paginator.posts %}
    <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <!-- <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
          </a> -->
          {% if post.inline %}
            {% if post.inline_url %}
              <a class="post-link" href="{{ post.inline_url | relative_url }}">
                {{ post.title | escape }}
              </a>
            {% else %}
              {{ post.title | escape }}
            {% endif %}
          {% else %}
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          {% endif %}
        </h3>
        {%- if site.show_excerpts -%}
        {{ post.excerpt }}
        {%- endif -%}
    </li>
    {%- endfor -%}
</ul>

<!-- Pagination links -->
<div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% else %}
    <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
    <span class="next ">Next</span>
    {% endif %}
</div>
