
<dl>

<dt>
<a name="Heinlein:2017:IPP">&nbsp;</a>
</dt>
<dd>
<b>Improving the Parallel Performance of Overlapping Schwarz Methods by
  Using a Smaller Energy Minimizing Coarse Space</b>.
 Alexander Heinlein, Axel Klawonn, Oliver Rheinbach, and Olof Widlund.
 2017.
 Accepted for publication to the Proceedings of the 24rd International
  Conference on Domain Decomposition Methods, Springer Lect. Notes Comput.   Sci. Eng.
[&nbsp;<a href="accepted_bib.html#Heinlein:2017:IPP">bib</a>&nbsp;]

</dd>
</dl>