
<dl>

<dt>
<a name="Heinlein:2019:RDG">&nbsp;</a>
</dt>
<dd>
<b>Reduced Dimension GDSW Coarse Spaces for Monolithic Schwarz Domain
  Decomposition Methods for Incompressible Fluid Flow Problems</b>.
 Alexander Heinlein, Christian Hochmuth, and Axel Klawonn.
 Technical report, October 2019.
 Accepted for publication in International Journal for Numerical
  Methods in Engineering.
[&nbsp;<a href="accepted_bib.html#Heinlein:2019:RDG">bib</a>&nbsp;]

</dd>


<dt>
<a name="Heinlein:2019:AFR">&nbsp;</a>
</dt>
<dd>
<b>Applying the FROSch Overlapping Schwarz Preconditioner to Dislocation
  Mechanics in Deal.II</b>.
 Alexander Heinlein, Oliver Rheinbach, Friederike Röver, Stefan
  Sandfeld, and Dominik Steinberger.
 Technical report, July 2019.
 Accepted for publication in Proceedings in Applied Mathematics and
  Mechanics.
[&nbsp;<a href="accepted_bib.html#Heinlein:2019:AFR">bib</a>&nbsp;]

</dd>


<dt>
<a name="Heinlein:2018:CSN">&nbsp;</a>
</dt>
<dd>
<b>Coarse Spaces for Nonlinear Schwarz Methods on Unstructured Grids</b>.
 Alexander Heinlein and Martin Lanser.
 Technical report, May 2019.
 Accepted for publication in Lecture Notes in Computational Science
  and Engineering.
[&nbsp;<a href="accepted_bib.html#Heinlein:2018:CSN">bib</a>&nbsp;]

</dd>


<dt>
<a name="Heinlein:2018:FRO">&nbsp;</a>
</dt>
<dd>
<b>FROSch: A Fast And Robust Overlapping Schwarz Domain Decomposition
  Preconditioner Based on Xpetra in Trilinos</b>.
 Alexander Heinlein, Axel Klawonn, Sivasankaran Rajamanickam, and
  Oliver Rheinbach.
 Technical report, April 2019.
 Accepted for publication in Lecture Notes in Computational Science
  and Engineering.
[&nbsp;<a href="accepted_bib.html#Heinlein:2018:FRO">bib</a>&nbsp;]

</dd>


<dt>
<a name="Heinlein:2018:TLE">&nbsp;</a>
</dt>
<dd>
<b>A Three-Level Extension of the GDSW Overlapping Schwarz Preconditioner
  in Three Dimensions</b>.
 Alexander Heinlein, Axel Klawonn, Oliver Rheinbach, and Friederike
  R&ouml;ver.
 Technical report, March 2019.
 Accepted for publication in Lecture Notes in Computational Science
  and Engineering.
[&nbsp;<a href="accepted_bib.html#Heinlein:2018:TLE">bib</a>&nbsp;]

</dd>
</dl>