
<dl>

<dt>
<a name="Heinlein:2021:TLE">&nbsp;</a>
</dt>
<dd>
<b>A Three-Level Extension for Fast and Robust Overlapping Schwarz (FROSch)
  Preconditioners with Reduced Dimensional Coarse Space</b>.
 Alexander Heinlein, Axel Klawonn, Oliver Rheinbach, and Friederike
  R&ouml;ver.
 Technical report, August 2021.
 Accepted for publication in the proceedings of the DD26 conference.
  Preprint
  <a href="https://tu-freiberg.de/sites/default/files/media/fakultaet-fuer-mathematik-und-informatik-fakultaet-1-9277/prep/2021-02.pdf">https://tu-freiberg.de/sites/default/files/media/fakultaet-fuer-mathematik-und-informatik-fakultaet-1-9277/prep/2021-02.pdf</a>.
[&nbsp;<a href="accepted_bib.html#Heinlein:2021:TLE">bib</a>&nbsp;]

</dd>
</dl>