
<dl>

<dt>
<a name="Heinlein:2020:FRO">&nbsp;</a>
</dt>
<dd>
<em>FROSch: A Fast And Robust Overlapping Schwarz Domain Decomposition
  Preconditioner Based on Xpetra in Trilinos</em>.
 Alexander Heinlein, Axel Klawonn, Sivasankaran Rajamanickam, and
  Oliver Rheinbach, pages 176--184.
 Springer International Publishing, 2020.
 Preprint <a href="https://kups.ub.uni-koeln.de/9018/">https://kups.ub.uni-koeln.de/9018/</a>.
[&nbsp;<a href="frosch_bib.html#Heinlein:2020:FRO">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-030-56750-7_19">DOI</a>&nbsp;]

</dd>


<dt>
<a name="Heinlein:2016:PIT">&nbsp;</a>
</dt>
<dd>
<b>A parallel implementation of a two-level overlapping Schwarz method with
  energy-minimizing coarse space based on Trilinos</b>.
 Alexander Heinlein, Axel Klawonn, and Oliver Rheinbach.
 <em>SIAM J. Sci. Comput.</em>, 38(6):C713--C747, 2016.
 Preprint
  <a href="http://tu-freiberg.de/sites/default/files/media/fakultaet-fuer-mathematik-und-informatik-fakultaet-1-9277/prep/2016-04_fertig.pdf">http://tu-freiberg.de/sites/default/files/media/fakultaet-fuer-mathematik-und-informatik-fakultaet-1-9277/prep/2016-04_fertig.pdf</a>.
[&nbsp;<a href="frosch_bib.html#Heinlein:2016:PIT">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1137/16M1062843">DOI</a>&nbsp;]

</dd>
</dl>