
<dl>

<dt>
<a name="Heinlein:2018:AGC">&nbsp;</a>
</dt>
<dd>
<b>Adaptive GDSW Coarse Spaces for Overlapping Schwarz Methods</b>.
 Alexander Heinlein, Axel Klawonn, Jascha Knepper, and Oliver
  Rheinbach.
 In preparation.
[&nbsp;<a href="in-preparation_bib.html#Heinlein:2018:AGC">bib</a>&nbsp;]

</dd>


<dt>
<a name="Heinlein:2018:FPI">&nbsp;</a>
</dt>
<dd>
<b>FROSch -- A Parallel Implementation of the GDSW Domain Decomposition
  Preconditioner in Trilinos</b>.
 Alexander Heinlein, Axel Klawonn, Sivasankaran Rajamanickam, and
  Oliver Rheinbach.
 In preparation.
[&nbsp;<a href="in-preparation_bib.html#Heinlein:2018:FPI">bib</a>&nbsp;]

</dd>
</dl>