
<dl>

<dt>
<a name="Heinlein:2019:TLE">&nbsp;</a>
</dt>
<dd>
<em>A Three-Level Extension of the GDSW Overlapping Schwarz Preconditioner
  in Two Dimensions</em>.
 Alexander Heinlein, Axel Klawonn, Oliver Rheinbach, and Friederike
  R&ouml;ver, pages 187--204.
 Springer International Publishing, 2019.
[&nbsp;<a href="published_bib.html#Heinlein:2019:TLE">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-030-14244-5_10">DOI</a>&nbsp;]

</dd>


<dt>
<a name="Heinlein:2019:AGDa">&nbsp;</a>
</dt>
<dd>
<b>Adaptive GDSW Coarse Spaces for Overlapping Schwarz Methods in Three
  Dimensions</b>.
 Alexander Heinlein, Axel Klawonn, Jascha Knepper, and Oliver
  Rheinbach.
 <em>SIAM Journal on Scientific Computing</em>, 41(5):A3045--A3072, 2019.
[&nbsp;<a href="published_bib.html#Heinlein:2019:AGDa">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1137/18M1220613">DOI</a>&nbsp;]

</dd>


<dt>
<a name="Heinlein:2019:MOS">&nbsp;</a>
</dt>
<dd>
<b>Monolithic Overlapping Schwarz Domain Decomposition Methods with GDSW
  Coarse Spaces for Incompressible Fluid Flow Problems</b>.
 Alexander Heinlein, Christian Hochmuth, and Axel Klawonn.
 <em>SIAM J. Sci. Comput.</em>, 41(4):C291--C316, 2019.
[&nbsp;<a href="published_bib.html#Heinlein:2019:MOS">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1137/18M1184047">DOI</a>&nbsp;]

</dd>


<dt>
<a name="Heinlein:2019:IPP">&nbsp;</a>
</dt>
<dd>
<em>Improving the Parallel Performance of Overlapping Schwarz Methods by
  Using a Smaller Energy Minimizing Coarse Space</em>.
 Alexander Heinlein, Axel Klawonn, Oliver Rheinbach, and Olof Widlund,
  pages 383--392.
 Springer International Publishing, 2019.
[&nbsp;<a href="published_bib.html#Heinlein:2019:IPP">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-319-93873-8_36">DOI</a>&nbsp;]

</dd>


<dt>
<a name="Heinlein:2019:AGDb">&nbsp;</a>
</dt>
<dd>
<em>An Adaptive GDSW Coarse Space for Two-Level Overlapping Schwarz
  Methods in Two Dimensions</em>.
 Alexander Heinlein, Axel Klawonn, Jascha Knepper, and Oliver
  Rheinbach, pages 373--382.
 Springer International Publishing, 2019.
[&nbsp;<a href="published_bib.html#Heinlein:2019:AGDb">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-319-93873-8_35">DOI</a>&nbsp;]

</dd>


<dt>
<a name="Heinlein:2018:MCS">&nbsp;</a>
</dt>
<dd>
<b>Multiscale coarse spaces for overlapping Schwarz methods based on the ACMS
  space in 2D</b>.
 Alexander Heinlein, Axel Klawonn, Jascha Knepper, and Oliver
  Rheinbach.
 <em>Electronic Transactions on Numerical Analysis (ETNA)</em>,
  48:156--182, 2018.
[&nbsp;<a href="published_bib.html#Heinlein:2018:MCS">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1553/etna_vol48s156">DOI</a>&nbsp;]

</dd>


<dt>
<a name="Heinlein:2017:POS">&nbsp;</a>
</dt>
<dd>
<em>Parallel Overlapping Schwarz with an Energy-Minimizing Coarse Space</em>.
 Alexander Heinlein, Axel Klawonn, and Oliver Rheinbach, pages
  353--360.
 Springer International Publishing, 2017.
[&nbsp;<a href="published_bib.html#Heinlein:2017:POS">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-319-52389-7_36">DOI</a>&nbsp;]

</dd>


<dt>
<a name="Heinlein:2016:PIT">&nbsp;</a>
</dt>
<dd>
<b>A parallel implementation of a two-level overlapping Schwarz method with
  energy-minimizing coarse space based on Trilinos</b>.
 Alexander Heinlein, Axel Klawonn, and Oliver Rheinbach.
 <em>SIAM J. Sci. Comput.</em>, 38(6):C713--C747, 2016.
[&nbsp;<a href="published_bib.html#Heinlein:2016:PIT">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1137/16M1062843">DOI</a>&nbsp;]

</dd>


<dt>
<a name="Heinlein:2016:PTO">&nbsp;</a>
</dt>
<dd>
<em>Parallel Two-Level Overlapping Schwarz Methods in Fluid-Structure
  Interaction</em>.
 Alexander Heinlein, Axel Klawonn, and Oliver Rheinbach, pages
  521--530.
 Springer International Publishing, 2016.
[&nbsp;<a href="published_bib.html#Heinlein:2016:PTO">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-319-39929-4_50">DOI</a>&nbsp;]

</dd>


<dt>
<a name="Heinlein:2016:POS">&nbsp;</a>
</dt>
<dd>
<b>Parallel Overlapping Schwarz Preconditioners and Multiscale
  Discretizations with Applications to Fluid-Structure Interaction and Highly
  Heterogeneous Problems</b>.
 Alexander Heinlein.
 PhD thesis, Universit&auml;t zu K&ouml;ln, 2016.
[&nbsp;<a href="published_bib.html#Heinlein:2016:POS">bib</a>&nbsp;| 
<a href="https://kups.ub.uni-koeln.de/6841">http</a>&nbsp;]

</dd>
</dl>