
<dl>

<dt>
<a name="Heinlein:2016:PIT">&nbsp;</a>
</dt>
<dd>
<b>A parallel implementation of a two-level overlapping Schwarz method with
  energy-minimizing coarse space based on Trilinos</b>.
 Alexander Heinlein, Axel Klawonn, and Oliver Rheinbach.
 <em>SIAM J. Sci. Comput.</em>, 38(6):C713--C747, 2016.
[&nbsp;<a href="published_bib.html#Heinlein:2016:PIT">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1137/16M1062843">DOI</a>&nbsp;]

</dd>


<dt>
<a name="Heinlein:2017:POS">&nbsp;</a>
</dt>
<dd>
<em>Parallel Overlapping Schwarz with an Energy-Minimizing Coarse Space</em>.
 Alexander Heinlein, Axel Klawonn, and Oliver Rheinbach, pages
  353--360.
 Springer International Publishing, 2017.
[&nbsp;<a href="published_bib.html#Heinlein:2017:POS">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-319-52389-7_36">DOI</a>&nbsp;]

</dd>


<dt>
<a name="Heinlein:2016:PTO">&nbsp;</a>
</dt>
<dd>
<em>Parallel Two-Level Overlapping Schwarz Methods in Fluid-Structure
  Interaction</em>.
 Alexander Heinlein, Axel Klawonn, and Oliver Rheinbach, pages
  521--530.
 Springer International Publishing, 2016.
[&nbsp;<a href="published_bib.html#Heinlein:2016:PTO">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-319-39929-4_50">DOI</a>&nbsp;]

</dd>


<dt>
<a name="Heinlein:2016:POS">&nbsp;</a>
</dt>
<dd>
<b>Parallel Overlapping Schwarz Preconditioners and Multiscale
  Discretizations with Applications to Fluid-Structure Interaction and Highly
  Heterogeneous Problems</b>.
 Alexander Heinlein.
 PhD thesis, Universit&auml;t zu K&ouml;ln, 2016.
[&nbsp;<a href="published_bib.html#Heinlein:2016:POS">bib</a>&nbsp;| 
<a href="https://kups.ub.uni-koeln.de/6841">http</a>&nbsp;]

</dd>
</dl>