
<dl>

<dt>
<a name="Heinlein:2021:FAT">&nbsp;</a>
</dt>
<dd>
<b>Fully algebraic two-level overlapping Schwarz preconditioners for
  elasticity problems</b>.
 Alexander Heinlein, Christian Hochmuth, and Axel Klawonn.
 Technical report, 2021.
 Preprint <a href="https://kups.ub.uni-koeln.de/id/eprint/10441">https://kups.ub.uni-koeln.de/id/eprint/10441</a>.
[&nbsp;<a href="published_bib.html#Heinlein:2021:FAT">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-030-55874-1_52">DOI</a>&nbsp;]

</dd>


<dt>
<a name="Roever:2021:WCCM">&nbsp;</a>
</dt>
<dd>
<b>Choosing the Subregions in Three-Level FROSch Preconditioners</b>.
 Alexander Heinlein, Oliver Rheinbach, and Friederike R&ouml;ver.
 <em>WCCM-ECCOMAS2020</em>, 2021.
[&nbsp;<a href="published_bib.html#Roever:2021:WCCM">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.23967/wccm-eccomas.2020.084">DOI</a>&nbsp;| 
<a href="https://www.scipedia.com/public/Rover_et_al_2021a">http</a>&nbsp;]

</dd>


<dt>
<a name="Kiefer:2021:VMP">&nbsp;</a>
</dt>
<dd>
<b>Variational Methods and Parallel Solvers in Chemo-Mechanics</b>.
 Bj&ouml;rn Kiefer, Oliver Rheinbach, Stephan Roth, and Friederike
  R&ouml;ver.
 <em>PAMM</em>, 20(1):e202000272, 2021.
[&nbsp;<a href="published_bib.html#Kiefer:2021:VMP">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1002/pamm.202000272">DOI</a>&nbsp;| 
<a href="https://onlinelibrary.wiley.com/doi/10.1002/pamm.202000272">http</a>&nbsp;]

</dd>


<dt>
<a name="Hochmuth:2020:PSFF">&nbsp;</a>
</dt>
<dd>
<b>Parallel Overlapping Schwarz Preconditioners for Incompressible Fluid Flow
  and Fluid-Structure Interaction Problems</b>.
 Christian Hochmuth.
 PhD thesis, Universit&auml;t zu K&ouml;ln, 2020.
[&nbsp;<a href="published_bib.html#Hochmuth:2020:PSFF">bib</a>&nbsp;| 
<a href="https://kups.ub.uni-koeln.de/11345">http</a>&nbsp;]

</dd>


<dt>
<a name="Heinlein:2020:FRO">&nbsp;</a>
</dt>
<dd>
<em>FROSch: A Fast And Robust Overlapping Schwarz Domain Decomposition
  Preconditioner Based on Xpetra in Trilinos</em>.
 Alexander Heinlein, Axel Klawonn, Sivasankaran Rajamanickam, and
  Oliver Rheinbach, pages 176--184.
 Springer International Publishing, 2020.
 Preprint <a href="https://kups.ub.uni-koeln.de/9018/">https://kups.ub.uni-koeln.de/9018/</a>.
[&nbsp;<a href="published_bib.html#Heinlein:2020:FRO">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-030-56750-7_19">DOI</a>&nbsp;]

</dd>


<dt>
<a name="Heinlein:2020:TLE">&nbsp;</a>
</dt>
<dd>
<em>A Three-Level Extension of the GDSW Overlapping Schwarz Preconditioner
  in Three Dimensions</em>.
 Alexander Heinlein, Axel Klawonn, Oliver Rheinbach, and Friederike
  R&ouml;ver, pages 185--192.
 Springer International Publishing, 2020.
 Preprint <a href="https://kups.ub.uni-koeln.de/9017/">https://kups.ub.uni-koeln.de/9017/</a>.
[&nbsp;<a href="published_bib.html#Heinlein:2020:TLE">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-030-56750-7_20">DOI</a>&nbsp;]

</dd>


<dt>
<a name="Heinlein:2020:RDG">&nbsp;</a>
</dt>
<dd>
<b>Reduced Dimension GDSW Coarse Spaces for Monolithic Schwarz Domain
  Decomposition Methods for Incompressible Fluid Flow Problems</b>.
 Alexander Heinlein, Christian Hochmuth, and Axel Klawonn.
 <em>International Journal for Numerical Methods in Engineering</em>,
  121(6):1101--1119, 2020.
 Preprint <a href="https://kups.ub.uni-koeln.de/8645/">https://kups.ub.uni-koeln.de/8645/</a>.
[&nbsp;<a href="published_bib.html#Heinlein:2020:RDG">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1002/nme.6258">DOI</a>&nbsp;| 
<a href="https://onlinelibrary.wiley.com/doi/abs/10.1002/nme.6258">http</a>&nbsp;]

</dd>


<dt>
<a name="Heinlein:2019:AFR">&nbsp;</a>
</dt>
<dd>
<b>Applying the FROSch Overlapping Schwarz Preconditioner to Dislocation
  Mechanics in Deal.II</b>.
 Alexander Heinlein, Oliver Rheinbach, Friederike R&ouml;ver, Stefan
  Sandfeld, and Dominik Steinberger.
 <em>PAMM</em>, 19(1):e201900337, 2019.
[&nbsp;<a href="published_bib.html#Heinlein:2019:AFR">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1002/pamm.201900337">DOI</a>&nbsp;| 
<a href="https://onlinelibrary.wiley.com/doi/abs/10.1002/pamm.201900337">http</a>&nbsp;]

</dd>


<dt>
<a name="Heinlein:2019:TLE">&nbsp;</a>
</dt>
<dd>
<em>A Three-Level Extension of the GDSW Overlapping Schwarz Preconditioner
  in Two Dimensions</em>.
 Alexander Heinlein, Axel Klawonn, Oliver Rheinbach, and Friederike
  R&ouml;ver, pages 187--204.
 Springer International Publishing, 2019.
 Preprint
  <a href="https://tu-freiberg.de/sites/default/files/media/fakultaet-fuer-mathematik-und-informatik-fakultaet-1-9277/prep/preprint_2018_04_heinlein_klawonn_rheinbach_roever.pdf">https://tu-freiberg.de/sites/default/files/media/fakultaet-fuer-mathematik-und-informatik-fakultaet-1-9277/prep/preprint_2018_04_heinlein_klawonn_rheinbach_roever.pdf</a>.
[&nbsp;<a href="published_bib.html#Heinlein:2019:TLE">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-030-14244-5_10">DOI</a>&nbsp;]

</dd>


<dt>
<a name="Heinlein:2019:MOS">&nbsp;</a>
</dt>
<dd>
<b>Monolithic Overlapping Schwarz Domain Decomposition Methods with GDSW
  Coarse Spaces for Incompressible Fluid Flow Problems</b>.
 Alexander Heinlein, Christian Hochmuth, and Axel Klawonn.
 <em>SIAM J. Sci. Comput.</em>, 41(4):C291--C316, 2019.
 Preprint <a href="https://kups.ub.uni-koeln.de/8355/">https://kups.ub.uni-koeln.de/8355/</a>.
[&nbsp;<a href="published_bib.html#Heinlein:2019:MOS">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1137/18M1184047">DOI</a>&nbsp;]

</dd>


<dt>
<a name="Heinlein:2019:IPP">&nbsp;</a>
</dt>
<dd>
<em>Improving the Parallel Performance of Overlapping Schwarz Methods by
  Using a Smaller Energy Minimizing Coarse Space</em>.
 Alexander Heinlein, Axel Klawonn, Oliver Rheinbach, and Olof Widlund,
  pages 383--392.
 Springer International Publishing, 2019.
[&nbsp;<a href="published_bib.html#Heinlein:2019:IPP">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-319-93873-8_36">DOI</a>&nbsp;]

</dd>


<dt>
<a name="Heinlein:2017:POS">&nbsp;</a>
</dt>
<dd>
<em>Parallel Overlapping Schwarz with an Energy-Minimizing Coarse Space</em>.
 Alexander Heinlein, Axel Klawonn, and Oliver Rheinbach, pages
  353--360.
 Springer International Publishing, 2017.
 Preprint
  <a href="http://tu-freiberg.de/sites/default/files/media/fakultaet-fuer-mathematik-und-informatik-fakultaet-1-9277/prep/2016-03_fertig.pdf">http://tu-freiberg.de/sites/default/files/media/fakultaet-fuer-mathematik-und-informatik-fakultaet-1-9277/prep/2016-03_fertig.pdf</a>.
[&nbsp;<a href="published_bib.html#Heinlein:2017:POS">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-319-52389-7_36">DOI</a>&nbsp;]

</dd>


<dt>
<a name="Heinlein:2016:PIT">&nbsp;</a>
</dt>
<dd>
<b>A parallel implementation of a two-level overlapping Schwarz method with
  energy-minimizing coarse space based on Trilinos</b>.
 Alexander Heinlein, Axel Klawonn, and Oliver Rheinbach.
 <em>SIAM J. Sci. Comput.</em>, 38(6):C713--C747, 2016.
 Preprint
  <a href="http://tu-freiberg.de/sites/default/files/media/fakultaet-fuer-mathematik-und-informatik-fakultaet-1-9277/prep/2016-04_fertig.pdf">http://tu-freiberg.de/sites/default/files/media/fakultaet-fuer-mathematik-und-informatik-fakultaet-1-9277/prep/2016-04_fertig.pdf</a>.
[&nbsp;<a href="published_bib.html#Heinlein:2016:PIT">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1137/16M1062843">DOI</a>&nbsp;]

</dd>


<dt>
<a name="Heinlein:2016:PTO">&nbsp;</a>
</dt>
<dd>
<em>Parallel Two-Level Overlapping Schwarz Methods in Fluid-Structure
  Interaction</em>.
 Alexander Heinlein, Axel Klawonn, and Oliver Rheinbach, pages
  521--530.
 Springer International Publishing, 2016.
 Preprint
  <a href="http://tu-freiberg.de/sites/default/files/media/fakultaet-fuer-mathematik-und-informatik-fakultaet-1-9277/prep/2015-15_fertig_0.pdf">http://tu-freiberg.de/sites/default/files/media/fakultaet-fuer-mathematik-und-informatik-fakultaet-1-9277/prep/2015-15_fertig_0.pdf</a>.
[&nbsp;<a href="published_bib.html#Heinlein:2016:PTO">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-319-39929-4_50">DOI</a>&nbsp;]

</dd>


<dt>
<a name="Heinlein:2016:POS">&nbsp;</a>
</dt>
<dd>
<b>Parallel Overlapping Schwarz Preconditioners and Multiscale
  Discretizations with Applications to Fluid-Structure Interaction and Highly
  Heterogeneous Problems</b>.
 Alexander Heinlein.
 PhD thesis, Universit&auml;t zu K&ouml;ln, 2016.
[&nbsp;<a href="published_bib.html#Heinlein:2016:POS">bib</a>&nbsp;| 
<a href="https://kups.ub.uni-koeln.de/6841">http</a>&nbsp;]

</dd>
</dl>