
<dl>

<dt>
<a name="Toselli:2005:DDM">&nbsp;</a>
</dt>
<dd>
<em>Domain decomposition methods---algorithms and theory</em>.
 Andrea Toselli and Olof Widlund, volume&nbsp;34 of <em>Springer Series in
  Computational Mathematics</em>.
 Springer-Verlag, Berlin, 2005.
[&nbsp;<a href="references_bib.html#Toselli:2005:DDM">bib</a>&nbsp;]

</dd>


<dt>
<a name="Dohrmann:2008:FEM">&nbsp;</a>
</dt>
<dd>
<b>A family of energy minimizing coarse spaces for overlapping Schwarz
  preconditioners</b>.
 Clark&nbsp;R. Dohrmann, Axel Klawonn, and Olof&nbsp;B. Widlund.
 In <em>Domain decomposition methods in science and engineering
  XVII</em>, volume&nbsp;60 of <em>Lect. Notes Comput. Sci. Eng.</em>, pages 247--254.
  Springer, Berlin, 2008.
[&nbsp;<a href="references_bib.html#Dohrmann:2008:FEM">bib</a>&nbsp;]

</dd>


<dt>
<a name="Dohrmann:2008:DDL">&nbsp;</a>
</dt>
<dd>
<b>Domain decomposition for less regular subdomains: overlapping Schwarz in
  two dimensions</b>.
 Clark&nbsp;R. Dohrmann, Axel Klawonn, and Olof&nbsp;B. Widlund.
 <em>SIAM J. Numer. Anal.</em>, 46(4):2153--2168, 2008.
[&nbsp;<a href="references_bib.html#Dohrmann:2008:DDL">bib</a>&nbsp;]

</dd>


<dt>
<a name="Dohrmann:2010:HDD">&nbsp;</a>
</dt>
<dd>
<b>Hybrid domain decomposition algorithms for compressible and almost
  incompressible elasticity</b>.
 Clark&nbsp;R. Dohrmann and Olof&nbsp;B. Widlund.
 <em>Internat. J. Numer. Methods Engrg.</em>, 82(2):157--183, 2010.
[&nbsp;<a href="references_bib.html#Dohrmann:2010:HDD">bib</a>&nbsp;]

</dd>


<dt>
<a name="Heinlein:2016:PIT">&nbsp;</a>
</dt>
<dd>
<b>A parallel implementation of a two-level overlapping Schwarz method with
  energy-minimizing coarse space based on Trilinos</b>.
 Alexander Heinlein, Axel Klawonn, and Oliver Rheinbach.
 <em>SIAM J. Sci. Comput.</em>, 38(6):C713--C747, 2016.
[&nbsp;<a href="references_bib.html#Heinlein:2016:PIT">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1137/16M1062843">DOI</a>&nbsp;]

</dd>
</dl>