
<dl>

<dt>
<a name="Heinlein:2021:PST">&nbsp;</a>
</dt>
<dd>
<b>Parallel Scalability of Three-Level FROSch Preconditioners to 220 000
  Cores using the Theta Supercomputer</b>.
 Alexander Heinlein, Oliver Rheinbach, and Friederike R&ouml;ver.
 Technical report, Juli 2021.
 Submitted. Preprint
  <a href="https://tu-freiberg.de/sites/default/files/media/fakultaet-fuer-mathematik-und-informatik-fakultaet-1-9277/prep/2021-03.pdf">https://tu-freiberg.de/sites/default/files/media/fakultaet-fuer-mathematik-und-informatik-fakultaet-1-9277/prep/2021-03.pdf</a>.
[&nbsp;<a href="submitted_bib.html#Heinlein:2021:PST">bib</a>&nbsp;]

</dd>


<dt>
<a name="Heinlein:2021:FRO">&nbsp;</a>
</dt>
<dd>
<b>FROSch Preconditioners for Land Ice Simulations of Greenland and
  Antarctica</b>.
 Alexander Heinlein, Mauro Perego, and Sivasankaran Rajamanickam.
 Technical report, January 2021.
 Submitted. Preprint
  <a href="https://kups.ub.uni-koeln.de/id/eprint/30668">https://kups.ub.uni-koeln.de/id/eprint/30668</a>.
[&nbsp;<a href="submitted_bib.html#Heinlein:2021:FRO">bib</a>&nbsp;]

</dd>
</dl>