
<dl>

<dt>
<a name="Heinlein:2018:AGD">&nbsp;</a>
</dt>
<dd>
<b>Adaptive GDSW Coarse Spaces for overlapping Schwarz methods in three
  dimensions</b>.
 Alexander Heinlein, Axel Klawonn, Jascha Knepper, and Oliver
  Rheinbach.
 Technical report, October 2018.
 Submitted for publication to SIAM J. Sci. Comp.
[&nbsp;<a href="submitted_bib.html#Heinlein:2018:AGD">bib</a>&nbsp;]

</dd>


<dt>
<a name="Heinlein:2018:MOS">&nbsp;</a>
</dt>
<dd>
<b>Monolithic overlapping Schwarz domain decomposition methods with GDSW
  coarse spaces for saddle point problems</b>.
 Alexander Heinlein, Christian Hochmuth, and Axel Klawonn.
 Technical report, April 2018.
 Submitted for publication to SIAM J. Sci. Comp.
[&nbsp;<a href="submitted_bib.html#Heinlein:2018:MOS">bib</a>&nbsp;]

</dd>


<dt>
<a name="Heinlein:2018:FSR">&nbsp;</a>
</dt>
<dd>
<b>FROSch: A Fast And Robust Overlapping Schwarz Domain Decomposition
  Preconditioner Based on Xpetra in Trilinos</b>.
 Alexander Heinlein, Axel Klawonn, Sivasankaran Rajamanickam, and
  Oliver Rheinbach.
 Technical report, November 2018.
 Submitted for publication to Lecture Notes in Computational Science
  and Engineering.
[&nbsp;<a href="submitted_bib.html#Heinlein:2018:FSR">bib</a>&nbsp;]

</dd>


<dt>
<a name="Heinlein:2018:TLE">&nbsp;</a>
</dt>
<dd>
<b>A Three-Level Extension of the GDSW Overlapping Schwarz Preconditioner in
  Three Dimensions</b>.
 Alexander Heinlein, Axel Klawonn, Oliver Rheinbach, and Friederike
  R&ouml;ver.
 Technical report, November 2018.
 Submitted for publication to Lecture Notes in Computational Science
  and Engineering.
[&nbsp;<a href="submitted_bib.html#Heinlein:2018:TLE">bib</a>&nbsp;]

</dd>
</dl>