
<dl>

<dt>
<a name="Roever:2021:DD">&nbsp;</a>
</dt>
<dd>
<b>A Three-Level Extension for Fast and Robust Overlapping Schwarz (FROSch)
  Preconditioners with Reduced Dimensional Coarse Space</b>.
 Alexander Heinlein, Axel Klawonn, Oliver Rheinbach, and Friederike
  R&ouml;ver.
 Technical report, March 2021.
 Submitted.
[&nbsp;<a href="submitted_bib.html#Roever:2021:DD">bib</a>&nbsp;]

</dd>


<dt>
<a name="Heinlein:2021:FRO">&nbsp;</a>
</dt>
<dd>
<b>FROSch Preconditioners for Land Ice Simulations of Greenland and
  Antarctica</b>.
 Alexander Heinlein, Mauro Perego, and Sivasankaran Rajamanickam.
 Technical report, January 2021.
 Submitted. Preprint
  <a href="https://kups.ub.uni-koeln.de/id/eprint/30668">https://kups.ub.uni-koeln.de/id/eprint/30668</a>.
[&nbsp;<a href="submitted_bib.html#Heinlein:2021:FRO">bib</a>&nbsp;]

</dd>
</dl>